.heading {
    text-align: center;
    color: #F64C72;
}

.howTo {
    padding: 50px;
}

.otherExamples {
    padding: 50px;
}
body {
    background-color: #242582;
    color: white;
}

code {
    color: #99738E;
}

a {
    text-decoration: none;
    color: #99738E;
}